body {
    padding-top: 54px;
}

img {
    height: auto;
    max-width: 100%;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

h1{
    word-wrap: break-word;
}

header.masthead {
    background: url('https://unsplash.it/1900/1080?image=304') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.masthead > .overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 992px) {
    header.masthead > .overlay {
        padding: 10rem 0;
    }
}

h2 > a {
    color: #212529;
    transition: color 200ms 0s;
}

h2 > a:hover {
    text-decoration: none;
}

/* HOME */
#home article {
    padding: 20px 0;
}

#home article img {
    max-width: none;
    opacity: 0.9;
    transition: opacity 400ms 0s;
}

#home article .row:hover img {
    opacity: 1;
}

#home .preview-odd .order-2 .p-5, #home .preview-even .order-1 .p-5{
    border-radius: 50%;
    height: 450px;
    overflow: hidden;
    padding: 0 !important;
    width: 450px;
}

/* PAGE DETAIL */
#detail header.masthead {
    background: url('../src/img/lecaire_01.jpg') no-repeat center center scroll;
}

#detail .figure-caption{
    font-size: 100%;
}

#page .chapo{
    font-weight: bold;
    margin-bottom: 2rem;
}

article {
    padding: 20px 0;
}

/* MOBILE */
@media (max-width: 450px) {
    .display-1 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    .display-4 {
        font-size: 2rem;
    }
    .p-5 {
        padding: 2rem !important;
    }
    .order-2 {
        order: 1;
    }
    #detail .figure-caption {
        font-size: 90%;
    }
    #home .img-fluid.rounded-circle {
        opacity: 1;
    }
}
